[phases.setup]
nixPkgs = [
    "cmake", 
    "gcc", 
    "xorg.libX11", 
    "xorg.libXext", 
    "xorg.libXrender", 
    "libglvnd", 
    "stdenv.cc.cc.lib"
]

# This part is crucial for Python to find the .so files
[variables]
LD_LIBRARY_PATH = "/usr/lib:/usr/local/lib:$LD_LIBRARY_PATH"