[phases.setup]
nixPkgs = ["cmake", "gcc", "xorg.libX11", "libglvnd"]

[phases.build]
cmds = ["python -m venv .venv", ". .venv/bin/activate", "pip install -r requirements.txt"]

[start]
cmd = ". .venv/bin/activate && python -m uvicorn main:app --host 0.0.0.0 --port $PORT"
